$ressources-title-color: var(--ui-ressources-gar-ressources-title-color, #25b2f3);

$button-background-color: var(--ui-ressources-gar-button-background-color, #0c9ee1);
$button-background-color-success: var(--ui-ressources-gar-button-background-color-success, #37b61d);
$button-text-color: var(--ui-ressources-gar-button-text-color, #ffffff);
$button-text-color-success: var(--ui-ressources-gar-button-text-color-success, #ffffff);

$button-border-radius: var(--ui-ressources-gar-button-border-radius, 1.5rem);
$card-border-radius: var(--ui-ressources-gar-card-border-radius, 1rem);
$margin: var(--ui-ressources-gar-margin, 0.6rem);
$padding: var(--ui-ressources-gar-padding, 1rem);

$input-height: 2rem;
$recherche-ressource-padding: 0.5rem;
$button-padding: 0.6rem;
